.login_page {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    height: 100vh;

    .welcome {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 82.5625rem;
        height: 100vh;
        background-image: url("/LoginBG.png");
        padding: 0 10rem;
        color: var(--Light, #fff);

        .heading {
            font-size: 2.8125rem;
            font-style: normal;
            font-weight: 100;
            line-height: 5rem;
            letter-spacing: 0.05rem;

            .merina {
                font-style: normal;
                font-weight: 800;
            }
        }

        .paragraph {
            opacity: 0.7;
            margin-right: 12rem;
        }
    }

    .login_form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 37.4375rem;
        padding: 0 2rem;

        .logo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
        }

        .username_password {
            color: var(--Grey, #a0a3bd);
            text-align: center;
            font-size: 1rem;
        }

        .input_area {
            display: flex;
            flex-direction: column;

            .email,
            .password {
                border: none;
                border-bottom: 1px solid black;
                border-radius: 0;
                width: 31.09375rem;
                margin: 1rem 0rem;
                box-shadow: none;
                text-shadow: 0 0 0 black;
            }
        }

        .forgot_passwors {
            font-size: 1rem;
            color: var(--Grey, #a0a3bd);
            text-align: center;
            margin-right: 3rem;
            display: inline-flex;
            align-items: center;
            justify-content: end;
        }

        .remember_me {
            margin-top: 2rem;
            font-size: 1rem;
            color: var(--Grey, #a0a3bd);
            text-align: center;
            display: inline-flex;
            align-items: center;
            justify-content: start;
            gap: 0.625rem;
        }

        .btn_submit {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25rem;
            height: 3.125rem;
            background: var(--Primary, #9058ff);
            padding: 0.625rem 1.625rem;
            border-radius: 0.625rem;
            margin: 10rem auto;
        }
    }
}
